# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print('Data','Science','Mentorship','Program',sep='-',end='-started-')
print('By','CampusX',sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
celsius = float(input('Enter the temp in celsius : '))

faren = celsius * (9/5) + 32


print(faren,'F')

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
a = int(input('Enter First Number : '))
b = int(input('Enter second Number : '))

temp = a
a = b
b = temp

print('first number ', a)
print('second number ', b)

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:

# Taking input from user
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

# Calculating Euclidean distance
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

# Display the result
print("Euclidean Distance between the two points:", round(distance,2))

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
p = int(input('Enter amount : '))
r = float(input('Enter rate of interest : '))
t = float(input('Enter time period : '))

Interest = (p*r*t) / 100

print('The interest is ',Interest)

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input('Enter number of heads : '))
legs = int(input("Enter number of legs : "))

if legs % 2 != 0 or legs < 2 * heads or legs > 4 * heads:
    print('Invalid input no such combination exits')

else:
    Dogs = (legs - 2 * heads) // 2
    chicken = heads - Dogs
    print("Dogs : ",Dogs)
    print('Chicken : ',chicken)

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n = int(input("Enter a natural number: "))

sum_of_squares = 0
for i in range(1, n + 1):
    sum_of_squares += i * i

print("Sum of squares of first", n, "natural numbers is:", sum_of_squares)

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
first_term = int(input('Enter 1st term : '))
second_term = int(input('Enter 2nd term : '))
n = int(input('Enter the value of n : '))

d = second_term - first_term

an = first_term + (n-1) * d

print(an)

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

n1 = int(input('Enter num1 : '))
d1 = int(input('Enter den1 : '))
n2 = int(input('Enter num2 : '))
d2 = int(input('Enter den2 : '))

rn = n1*d2 + n2*d1
rd = d1*d2

print('{}/{}'.format(rn,rd))

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here

import math

h_t = float(input('Enter height : '))
b_t = float(input('Enter breadth : '))
l_t = float(input('Enter lenght : '))

h_g = float(input('Height of glass : '))
r_g = float(input('radius of the glass : '))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('number of glass', math.floor(vol_tank/vol_glass))